<div class="form-Group">
    <h1>Registration</h1>
<form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name:</label>
      <input type="text" formControlName="firstName" id="firstName" class="form-control" placeholder="Enter your first name">
      <div class="text-danger" *ngIf="submitted && registrationForm.controls['firstName'].errors?.['required']">
        First Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="lastName">Last Name:</label>
      <input type="text" formControlName="lastName" id="lastName" class="form-control" placeholder="Enter your last name">
      <div class="text-danger" *ngIf="submitted && registrationForm.controls['lastName'].errors?.['required']">
        Last Name is required
      </div>
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" formControlName="username" id="username" class="form-control" placeholder="Enter your username">
      <div class="text-danger" *ngIf="submitted && registrationForm.controls['username'].errors?.['required']">
        Username is required
      </div>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" formControlName="password" id="password" class="form-control" placeholder="Enter your password">
      <div class="text-danger" *ngIf="submitted && registrationForm.controls['password'].errors?.['required']">
        Password is required
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password:</label>
      <input type="password" formControlName="confirmPassword" id="confirmPassword" class="form-control" placeholder="Confirm your password">
      <div class="text-danger" *ngIf="submitted && registrationForm.controls['confirmPassword'].errors?.['required']">
        Confirm Password is required
      </div>
      <div class="text-danger" *ngIf="submitted && !registrationForm.controls['confirmPassword'].errors?.['required'] && !passwordsMatch()">
        Passwords do not match
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary">Submit</button>
    <div><button type="button" class="btn btn-link" (click)="onLogin()">Cancel</button></div>
    
  </form>
</div>  